# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Developing\Godod-game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
